<html>
<head>
<style>
.bodycenter {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.footer{
    text-align: center;
    border: 1px solid #73AD21;
}
</style>
</head>
<body><h1>Assignment 6</h1>
  <div class="bodycenter">
 
    <form action="add_to_db" method="post">
      <p>Insert/Update a Movie!</p>
      <br>
      Year: <input type="text" name="year"><br>
      Title: <input type="text" name="title"><br>
      Director: <input type="text" name="director"><br>
      Actor: <input type="text" name="actor"><br>
      Release Date: <input type="text" name="release_date"><br>
      Rating: <input type="text" name="rating"><br>
      <input type="submit" value="Insert/Update Movie">
    </form>
    <div>{{ insert_msg }}</div>
    

    <hr>



    <form action="delete_movie" method="post">
      <p>Delete a Movie</p>
      <br>
      Title: <input type="text" name="delete_movie_box"><br>
      <input type="submit" value="Delete Movie">
    </form>

    <br>
    
    <div>{{ delete_msg }}</div>
    


    <hr>



    <form action="search_movie" method="post">
      <p>Search Movie(s) with given actor</p>
      <br>
      Actor: <input type="text" name="search_actor_box"><br>
      <input type="submit" value="Search Movies">
    </form>

    <br>
    {% for movie in movies_searched %}
        <div>
            <div>{{ movie }}</div>
        </div>
    {% endfor %}
    <div>{{ movies_searched_fail }}</div>



    <hr>



    <form action="print_movie_highest" method="post">
      <p>Print highest rated movies</p>
      <br>
      <input type="submit" value="Highest Rated Movie">
    </form>
    <br>
    {% for movie in highest_rating_movies %}
        <div>
            <div>{{ movie }}</div>
        </div>
    {% endfor %}



    <form action="print_movie_lowest" method="post">
      <p>Print lowest rated movies</p>
      <br>
      <input type="submit" value="Lowest Rated Movie">
    </form>
    <br>
    {% for movie in lowest_rating_movies %}
        <div>
            <div>{{ movie }}</div>
        </div>
    {% endfor %}
    
    
    <div class="footer">
    </div>
  </div>
</body>
</html>
